:root {
    --bg-color: rgb(234, 234, 213);
    --main-color: rgb(74, 84, 120);
    font-family: "Architects Daughter", cursive;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}
.week-list {
    /* outline: red 1px solid; */
    width: 45em;
    height: calc(100vh - 2rem);
    margin: 1rem auto;
    border-radius: 1rem;
    position: absolute;
    left: calc(50% - 22.5em);
    border: var(--main-color) 1px solid;
}
.animation-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.el {
    height: 25px;
    width: 25px;
    background-color: green;
}
