:root {
    --bg-color: #eaead5;
    --main-color: #475ca7;
    font-family: "Architects Daughter", cursive;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    background-image: url(assets/paper-bg.png);
}
.week-list {
    width: 45em;
    height: calc(100vh - 2rem);
    margin: 0.5rem auto;
    border-radius: 1rem;
    position: absolute;
    left: calc(50% - 23.125em);
    border: var(--main-color) 1px solid;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 0.5rem;
}
.card {
    border: 1px var(--main-color) solid;
    border-radius: 1rem;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: clamp(0.1rem, 0.15rem, 2rem);
    padding: 0 1rem;
    justify-content: space-around;
}
.day-header {
    text-align: center;
    font-size: 1.2rem;
}
.today {
    color: red;
    display: inline;
    text-decoration: underline;
}

.task-form {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 0.5rem;
    margin: 0 0.5rem;
}
input[type="text"] {
    font-family: "Architects Daughter", cursive;
    padding: 0;
    border-radius: 0.5rem;
    background-color: rgb(150, 150, 141);
    color: var(--bg-color);
}
#saveBtn {
    font-family: "Architects Daughter", cursive;
    padding: 0;
    border-radius: 0.5rem;
}
.task {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: list-item;
    list-style-type: circle;
    cursor: pointer;
}
.task-done {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: line-through;
    cursor: pointer;
    display: list-item;
    list-style-type: circle;
}
.task-item {
    display: grid;
    grid-template-columns: 12fr 1fr;
    padding-left: 0.5rem;
    gap: 1rem;
}
.delete-btn {
    right: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(150, 150, 141);
    border: black solid 1px;
}
.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 1;
    transform: translateX(-75%) translateY(-100%);
}
.task-item:hover .tooltiptext {
    visibility: visible;
}

.random-icon {
    cursor: pointer;
    margin-right: 0.5rem;
}
.trash-icon {
    cursor: pointer;
    margin-left: 0.5rem;
}
.random-icon[wobble="1"] {
    animation: shake 0.5s 1;
    filter: invert(29%) sepia(77%) saturate(688%) hue-rotate(196deg)
        brightness(94%) contrast(83%);
}
.trash-icon[toss="1"] {
    animation: throw 0.5s 1;
    filter: invert(23%) sepia(97%) saturate(6152%) hue-rotate(356deg)
        brightness(95%) contrast(124%);
}
@keyframes throw {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-2px);
    }
    20% {
        transform: translateY(2px);
    }
    30% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(2px);
    }
    90% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(15deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
@media (max-width: 45em) {
    .week-list {
        width: 22.5em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        left: calc(50% - 11.75em);
        border: none;
    }
    .card {
        aspect-ratio: 1.618;
    }
    .content {
        grid-row-gap: clamp(0.1rem, 0.5rem, 2rem);
    }
}
/* animation background */
.animation-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
