:root {
    --bg-color: rgb(234, 234, 213);
    --main-color: rgb(74, 84, 120);
    font-family: "Architects Daughter", cursive;
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}
.week-list{
    /* position: absolute; */
    outline: red 1px solid;
    width: 45em;
    height: 100dvh;
    margin: 0 auto;
    /* z-index: 0; */
}
.animation-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.el {
    height: 16px;
    width: 16px;
    background-color: green;
  }